.card_list {
  max-width: $desktop-width;
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}
.card {
  margin-top: 30px;
  width: 360px;
  height: 581px;
  background: #F8F8F8;
  position: relative;
  transition: 0.5s;

}
.close {
  position: absolute;
  right: 22px;
  top: 28px;
  border: none;
  background: #FFFFFF;
  &:hover {
    background: #E1E1E1;
    cursor: pointer;
  }
}
.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 96px;
}
.card_cart {
  display: flex;
  width: 650px;
  height: 309px;
  box-shadow: $shadow;
  opacity: 1;
}
.card_price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 650px;
  margin-left: 30px;
  margin-top: 22px;
}
.card_video {
  background-color: #F7E4E2;
}
.card_btngr {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
}
.btn_colorb {
  @include fonts_light;
  margin-top: 5px;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #A4A4A4;
  color: #000000;
}
.btn_colorp {
  background: $main-pinklight ;
  color: #FFFFFF;
  margin-top: 17px;
}
.card_text {
  margin: 12px 28px 0 17px;
  @include fonts_light;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
.reg_text {
  width: 650px;
  @include fonts_light;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.color_red {
  color: red;
}
.card_img {
  max-width: 360px;
  transition:0.5s;
  &:hover {
    z-index: 1;
    transform: scale(1.5);
    cursor: zoom-in;
  }
}
.card_img_c {
  max-width: 360px;
  height: 100%;
}
.card_img_mrg {
  margin-right: 30px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease-in;
  &:hover {
    opacity: 1;
  }
}
.card_btn {
  margin-top: 48px;
  padding: 14px 38px;
  border: 1px solid #FFFFFF;
  @include fonts;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.5s ease-in;
  fill: #FFFFFF;
  background-color: rgba(58, 56, 56, 0.83);
  &:hover{
    cursor: pointer;
    color: $main-pink;
    border: 1px solid $main-pink;
    fill: $main-pink;
  }
}
.heading3_price {
  max-width: 200px;
  margin-bottom: 42px;
  font-size: 24px;
  @include fonts;
  line-height: 29px;
  text-align: left;
  color: #222222;
}
.price_text {
 margin-bottom: 22px;
}
.price_q {
  width: 44px;
  height: 24px;
  margin-left: 25px;
  @include fonts;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}
.price {
  margin-left: 15px;
}
